{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/mycss.css' %}">
  {% block title%}
  <title>Shopy | HOME</title>
  {% endblock %}
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-dark mb-2">
    <div class="container-fluid">
      <a class="navbar-brand text-warning" style="font-size: 3em;" href="/">Shopy</a>
      <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav w-100 me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link  mynav" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mynav" href="/shop/all/all/all/">Shop Now</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mynav" href="#">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mynav" href="/contact/">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mynav" href="#">About</a>
          </li>
          <li class="nav-item">
            {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link mynav" href="/userprofile/">Profile</a>
          </li>
          <a class="nav-link mynav" href="/logout/">Logout</a>
          {% else %}
          <a class="nav-link mynav" href="/login/">Login</a>
          {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% block body %}
  <!------------------------------ carousel ------------------------------------------------>
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/carousel/car_pic1.jpg' %}" width="100%" height="500px" class="d-block w-100" />
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/carousel/car_pic2.jpg' %}" width="100%" height="500px" class="d-block w-100" />
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/carousel/car_pic3.jpg' %}" width="100%" height="500px" class="d-block w-100" />
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>



  <!-------------------------------- Products  --------------------------------->
  <div class="container-fluid bg-dark text-center text-light my-3">
    <h1>Latest Products</h1>
  </div>


  <div class="container-fluid mt-2">
    <div class="row">
      {% for i in data%}
      <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6 mt-2">
        <div class="card">
          <img src={{i.pic1.url}} class="card-img-top mt-1 px-3" alt="..." height="170px">
          <div class="card-body">
            <h5 class="card-title" style="height:40px;">{{i.name}}</h5>
            <p class="card-text">Rs <strike> {{i.baseprice}}</strike> {{i.finalPrice}}</p>
            <a href="/product/{{i.id}}/" class="btn btn-primary w-100">Buy Now</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}

  <footer class="container-fluid text-light text-center bg-dark mt-2 py-2">
    Copyright @Shopy.com
    <form class="d-flex w-50 mt-3" style="margin-left: 25%;" role="newsletter">
      <input class="form-control me-2" type="text" placeholder="Enter Email to Subscribe Newsletter"
        aria-label="Search">
      <button class="btn btn-outline-success text-light" type="submit">Subscribe</button>
    </form>
  </footer>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>