{% extends 'index.html' %}
</style>
{% block title %}
<title>Shopy | Product</title>
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div id="carouselExampleIndicators" class="carousel     slide col-lg-4 col-md-8 col-12">
            <div class="carousel-indicators" style="top:410px">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                    class="active mx-4" aria-current="true" aria-label="Slide 1">
                    <img src={{data.pic1.url}} class="d-block w-10 " alt="..." height="70px">
                </button>
                <button type="button" data-bs-target="#carouselExampleIndicators" class="mx-4" data-bs-slide-to="1"
                    aria-label="Slide 2">
                    <img src={{data.pic2.url}} class="d-block w-10 " alt="..." height="70px">
                </button>
                <button type="button" data-bs-target="#carouselExampleIndicators" class="mx-4" data-bs-slide-to="2"
                    aria-label="Slide 3">
                    <img src={{data.pic3.url}} class="d-block w-10 " alt="..." height="70px">
                </button>
            </div>
            <div class="carousel-inner bg-dark">
                <div class="carousel-item my-2 active">
                    <img src={{data.pic1.url}} width="80%" style="margin-left: 10%;" alt="..." height="400px">
                </div>
                <div class="carousel-item my-2">
                    <img src={{data.pic2.url}} width="80%" style="margin-left: 10%;" alt="..." height="400px">
                </div>
                <div class="carousel-item my-2">
                    <img src={{data.pic3.url}} width="80%" style="margin-left: 10%;" alt="..." height="400px">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="mt-3 mb-5 col-lg-5 col-md-3 col-8">
            <h1>{{data.name}}</h1>
            <span class="price"><h3 style="display: Inline;">Price: </h3><strike>Rs{{data.baseprice}}</strike>&nbsp;</span>
            <span class="price">Rs{{data.finalPrice}}</span>
            <table class="table table-light table-striped table-hover">
                <tr>
                    <th>Main-Category</th>
                    <td>{{data.maincat}}</td>
                </tr>
                <tr>
                    <th>Sub-Category</th>
                    <td>{{data.subcat}}</td>
                </tr>
                <tr>
                    <th>Brand</th>
                    <td>{{data.brand}}</td>
                </tr>
                <tr>
                    <th>Base-Price</th>
                    <td>{{data.baseprice}}</td>
                </tr>
                <tr>
                    <th>Discount</th>
                    <td>{{data.discount}}</td>
                </tr>
                <tr>
                    <th>Color</th>
                    <td>{{data.color}}</td>
                </tr>
                <tr>
                    <th>Size</th>
                    <td>{{data.size}}</td> 
                </tr>
                <tr>
                    <th>Stock</th>
                    {% if Product.stock%}
                    <td>In Stock</td>
                    {% else %}
                    <td>Out of Stock</td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{data.desc}}</td> 
                </tr>
            </table>
            <form action="#" method="POST">
                <button type="submit" class="btn btn-primary">Buy Now</button>
            </form>
        </div>

    </div>
</div>
{% endblock %}