{% extends 'index.html' %}
{% block title %}
<title>Shopy | Update</title>
<style>
    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>
{% endblock %}
{% block body %}
<div class="container">
    <form class="my-3 py-3 mx-5 w-50" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" autocomplete="off" class="form-control" value={{data.name}}  name="name"  required>
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Phone</label>
                <input type="number" autocomplete="off" class="form-control" value={{data.phone}} name="phone" required>
            </div>
            <label for="email" class="form-label">Email address</label>
            <input type="email" autocomplete="off" class="form-control" value={{data.email}} name="email" aria-describedby="email-help"
                required>
        </div>
        <div class="mb-3">
            <label for="City" class="form-label">City</label>
            <input type="text" autocomplete="off" class="form-control" value={{data.city}} name="City" required>
        </div>
        <div class="mb-3">
            <label for="State" class="form-label">State</label>
            <input type="text" autocomplete="off" class="form-control" value={{data.state}} name="State" State required>
        </div>
        <div class="mb-3">
            <label for="pin" class="form-label">Pin Code</label>
            <input type="number" autocomplete="off" class="form-control" value={{data.pin}} name="pin" required>
        </div>
        <div class="mb-3">
            <label for="pin" class="form-label">Update Picture</label>
            <input type="file" class="form-control">
        </div>
        <button name="button" type="submit" class="btn btn-primary w-50">Update</button>
    </form>
</div>
{% endblock %}